<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Bienvenido!{% endblock %}</title>
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('public/css/bootstrap-table.css') }}">
        <link rel="stylesheet" href="{{ asset('public/css/styles.css') }}">
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#"><img src="{{ asset('public/img/bomberos_logo.png') }}" style="width:40px"/></a>
            </div>
            
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestión de cajas<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Adm. caja efectivo</a></li>
                            <li><a href="#">Adm. caja bancos</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ url('comprobantes') }}">Adm. comprobantes</a></li>
                            <li><a href="{{ url('conceptos') }}">Adm. conceptos</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gestión de socios<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Adm. socios</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Adm. cobradores</a></li>
                        </ul>
                    </li>
                    <li><a href="{{ url('proveedores') }}">Proveedores</a></li>
                </ul>
                
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Usuario <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Cerrar sesión</a></li>
                    </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
        {% block body %}{% endblock %}
        
        <script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="public/js/bootstrap-table.js"></script>
        <script src="public/js/table-export.js"></script>
        <script src="public/js/bootstrap-table-export.js"></script>

        
        
        {% block javascripts %}  
        {% endblock %}
    </body>
</html>
